<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="h_profinfo"><h1>Данные профиля</h1></div>
        <div class="profinfo">
            <input type="number" name="age" autocomplete="bday" placeholder="Возраст">
            <input type="text" name="status" placeholder="Статус">
        </div>
    </div>
</body>
</html>

<div class="checkbox-container">
    <input type="checkbox" id="rememberMe" name="rememberMe">
    <label for="rememberMe">Запомнить меня</label>
</div>