<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Главная страница</title>
    {% load static %}
    <link href="{% static 'home/home.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class = "menu">
        <ul>
            <li><a href="/profile/">Профиль</a></li>
            <li><a href="/home/">Главная страница</a></li>
            <li><a href="/about/">О нас</a></li>
            <li><a href="/chats/">Чаты</a></li>
            <li><a href="/friends/">Друзья</a></li>
            <li><a id = "button-exit">Выход</a></li>
        </ul>
        <hr>
        <h1>Новости</h1>
    </div>
    <script src="{% static 'home/home.js' %}"></script>
    <script src="{% static 'exit.js' %}"></script>
</body>

</html>
